<div *ngIf="logs$ | async as logs; else noLogs" class="state-graph">
    <div *ngFor="let log of logs" class="state">
      <div class="arrow">
        <div class="action">
          <span *ngIf="log.action === 'Create'">Create</span>
          <span *ngIf="log.action === 'Update'">Update {{ log.fieldName }} to "{{ log.value }}"</span>
          <span *ngIf="log.action === 'Assigned'">Assigned to {{ log.value }}</span>
        </div>
        <div class="line"></div>
      </div>
      <div class="info">
        <div *ngIf="log.action === 'Create'" class="box">New</div>
        <div *ngIf="log.action === 'Update'" class="box">Update</div>
        <div *ngIf="log.action === 'Assigned'" class="box">Assigned</div>
        <div class="user">{{ log.modifierUser }}</div>
        <div class="date">{{ log.date | date: 'short' }}</div>
      </div>
    </div>
  </div>
  <ng-template #noLogs>
    <p class="text-muted">No logs available.</p>
  </ng-template>
  