.container {
    width: 100%;
    height: 100vh;
    background-color: #2acbaa;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    border-radius: 10px;
  }
  
  .card-header {
    background-color: #2acbaa;
    padding: 10px;
  }
  
  .card-title {
    margin: 0;
    color: white;
    font-size: 1.5rem;
  }
  
  .input-group-text {
    background-color: #2acbaa;
    color: white;
  }
  
  .btn-primary {
    background-color: #2acbaa;
    border-color: #2acbaa;
  }
  
  .btn-primary:hover {
    background-color: #249a87;
    border-color: #249a87;
  }
  
  .text-danger {
    margin-top: 10px;
    text-align: center;
  }
  
  .signup {
    margin-top: 20px;
  }
  
  .signup a {
    color: #2acbaa;
    text-decoration: none;
  }
  
  .signup a:hover {
    text-decoration: underline;
  }
  