/* General Navbar Styles */
.custom-navbar {
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    padding: 0.01rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .navbar-brand {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  
  /* Align Navbar Links closer to the brand */
  .navbar-nav {
    margin-left: 1rem; /* Small margin to separate from the brand */
  }
  
  .navbar-toggler {
    border: none;
  }
  
  /* Navbar Links */
  .navbar-nav .nav-link {
    color: #fff;
    font-size: 1.2rem;
    margin: 0 0.8rem;
    transition: all 0.3s ease;
    position: relative;
  }
  
  .navbar-nav .nav-link:hover {
    color: #ffd700;
    text-decoration: none;
  }
  
  .navbar-nav .nav-link::after {
    content: "";
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    background-color: #ffd700;
    transition: all 0.3s ease;
    transform: translateX(-50%);
  }
  
  .navbar-nav .nav-link:hover::after {
    width: 100%;
  }
  
  /* Active Link */
  .navbar-nav .nav-link.active {
    font-weight: bold;
    color: #ffd700 !important;
    background-color: transparent;
  }
  
  .logout-button {
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .logout-button:hover {
    color: #a00015 !important;
  }

  .logout-button::after{
    background-color: #a00015 !important;
    transition: color 0.3s ease !important;
  }
  